@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800&display=swap');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

*:focus {
    outline: 0;
}
html, body {
    font-size: 14px;
}

body {
	--font-scroll-text: 'Josefin Sans', monospace;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: .05rem;
	font-size: 1.125rem;
	font-family: 'Montserrat', sans-serif;
}

body::after {
	content: '';
	height: 20vh;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 39%, rgba(0,0,0,0) 99%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 39%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.6) 39%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	position: fixed;
	top: 0;
	z-index: 1;
}

body::before {
	content: '';
	height: 30vh;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.6) 39%, rgba(0,0,0,1) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 39%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.6) 39%,rgba(0,0,0,1) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	position: fixed;
	bottom: 0;
	z-index: 1;
}

a {
	text-decoration: none;
	color: #ff4d30;
	outline: none;
	cursor: pointer;
}

a:hover,
a:focus {
	outline: none;
	color: #ff4d30;
	opacity: .8;
	transition: 5s ease;
}

button:focus {
	outline: none;
}


h1, h2, h3 {
    color: #ffffff;
    line-height: 100%;
}

h1 {
    font-size: 14rem;
    font-weight: 800;
    text-align: center;
}

h2 {
    font-size: 8rem;
    font-weight: 800;
    text-align: center;
}

h3 {
    font-size: 5rem;
    font-weight: 800;
}

/* Navigation Start */
.logo {
    position: fixed;
    top: 2rem;
    left: 3rem;
	font-weight: 800;
	z-index: 10;
}

.designation {
    position: fixed;
    top: 2rem;
	right: 3rem;
	z-index: 10;
	font-weight: 300;
}

.designation a {
	text-decoration: none;
	color: #ff4d30 !important;
	outline: none;
	cursor: pointer;
}

.designation a:hover,
.designation a:focus {
	opacity: .8;
	transition: 5s ease !important;
}

.footer-left {
    position: fixed;
    bottom: 2rem;
	left: 3rem;
	z-index: 10;
	font-weight: 300;
}

.footer-right {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
	font-weight: 800;
	z-index: 10;
}

.margin-contact-bottom {
margin-bottom: 15rem;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Header */

.content {
	position: relative;
	display: block;
}

.content__section {
	position: relative;
	text-align: left;
	padding: 0 0;
}

.content__section:first-child {
	margin: 0 0 30vh;
}

.content__section:last-child {
	margin: 30vh 0 0;
}

.content__section:first-child,
.content__section:last-child {
	height: calc(100vh - 9.875em);
	text-align: left;
}

.content__link {
	display: block;
	position: relative;
	max-width: 100%;
	margin: 0 0 0 auto;
}

.content__link--nobottom {
	margin-bottom: 15vh;
}

.content__img {
	position: relative;
	display: block;
	margin: 0 0 0 auto;
	width: 100%;
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
}

.content__text {
	color: var(--color-scroll-text);
	font-size: var(--fontsize-scroll-text);
	font-family: var(--font-scroll-text);
	margin: 0;
	line-height: 1;
	text-transform: lowercase;
	font-weight: normal;
	position: absolute;
	bottom: 6vmax;
	left: 0;
	padding-left: 3rem;
	z-index: 1000;
	line-height: 0.8;
}

.content__inner {
	position: absolute;
	bottom: calc(var(--fontsize-scroll-text) * 1.5 - 10vmax);
	font-size: 	2.5rem;
	font-family: var(--font-scroll-text);
	padding: 12vw;
	left: 0;
}

.content__inner a {
	text-decoration: none;
	color: #ffffff;
	outline: none;
	cursor: pointer;
}

.content__inner a:hover, a:focus {
	outline: none;
    text-decoration: underline;
	transition: 5s ease;
}

.content__inner span {
	font-weight: 700 !important;
	color: #fff;
}

.js .ioapi .content__text {
	position: fixed;
	opacity: 0;
	white-space: pre;
}

.content__text span {
	display: inline-block;
}

.content__inner a:last-child {
	display: block;
}


/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 40px;
	height: 40px;
	position: absolute;
	right: 3rem;
	top: 2rem;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 60%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay ul li {
	display: block;
	height: 100%;
}

/* Effects */
.overlay-hugeinc {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-hugeinc nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-hugeinc nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

/* Animate Number CSS */
.count-items {
	text-align: center;
}

.count-items > div {
	display: inline-block;
	margin: 1em .5em;
	padding: 1em;
	background: #000000;
	width: 15em;
}

.count-items > div .counter-value {
	font-family: 'Josefin Sans', monospace;
	font-weight: 800;
	font-size: 6rem;
	text-shadow: none;
	text-align: center;
}

.count-items > div p {
	font-family: 'Josefin Sans', monospace;
	font-size: 2rem;
	text-shadow: none;
	text-align: center;
}
  
/* Media Queries Start */
@media screen and (max-width: 50em) {
	.content__text,
	.js.ioapi .content__text {
		bottom: 5rem;
	}

	.content__inner {
		bottom: calc(var(--fontsize-scroll-text) * 1.5 - 10vh);
	}

	.content__inner {
		font-size: 	1.8rem;
	}

	.logo {
		top: 1rem;
		left: 2rem;
	}

	.designation {
		top: 1rem;
		right: 2rem;
	}

	.footer-left {
		bottom: 1rem;
		left: 2rem;
	}

	.footer-right {
		bottom: 1rem;
		right: 2rem;
	}

	.content__text {
		bottom: 10vmax;
		padding-left: 2rem;
	}

	.padding-technology {
		padding: 12vw;
	}

	body {
		font-size: 1rem;
	}

	.count-items > div .counter-value {
	font-size: 4rem;
	}

	.count-items > div p {
	font-size: 1.8rem;
	}
	
	.overlay nav {
	top: 40%;
	}
}
/* Media Queries End */
